
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');




/*everything inside the article*/

@media screen and (min-width:700px) {
  article {
    float: left;
  }
}

@media screen and (min-width: 1050px) {

}

/*contains the images and the animations for each*/

img {
  padding: 20px;
}

article {
  display: inline-block;
  border: 2px solid ##1d2e84;
  width: 300px;
  box-sizing: border-box;
}

/*targets the section*/
article li {
  list-style: none;
  display: block;
  float: left;
  width: 20%;
  border: 2px solid #1d2e84;
  position: relative;
  box-sizing: border-box;
  height: 50px;
}

.barmenu1 {
  border: 2px solid #1d2e84;
  position: absolute;
  bottom: 48px;
  left: 0;
  background-color: #ffffff;
  opacity: 1,inherit;
  border-bottom: none;
}

barmenu {
  border: 2px solid #1d2e84;
  position: absolute;
  bottom: 48px;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  border-bottom: none;
}

barmenu li {
  border: none;
}

article li: .submenu :={
  opacity: 1;
  bottom: 60px;
}

nav {
  box-sizing: border-box;
}

nav ul {
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

nav ul li {
  display: inline-block;
  position: relative;
  line-height: 20px;
  text-align: left;
  box-sizing: border-box;
}

nav .icon {
  inline-block;
}

nav {
  display: inline;
  padding: 0;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  text-align: none;
}

nav li: hover {
  background #63cdf2;
}
